<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
		<title>TodoApp</title>
	</head>
	<body>
		<div class="well">
      <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar navbar-header">
          <a href="{% url 'index' %}" className="navbar navbar-brand"><h1>Todo App</h1> </a>    
        
          <a href="/todos/add" class="header-links" >Add todo</a>&emsp;&emsp;
          <a href="{% url 'completedList' %}" class="header-links">Completed todos</a>&emsp;&emsp;
          <a href="{% url 'sortByDate' %}" class="header-links">Sort by created day</a>&emsp;&emsp;
          <a href="{% url 'sortByName' %}" class="header-links">Sort by name</a>&emsp;&emsp;
          <a href="{% url 'sortByPriority' %}" class="header-links">Sort by priority</a>&emsp;&emsp;
        </div>
      </div>
      </nav>
        <div className="container">
          	{% block content %}
      
      		{% endblock content %}
        </div>
    </div>

  </body>
</html>
