{% extends "header.html" %}


{% block content %}
		<div class="well">
			<h3>
		        {% if todos|length > 1 %}
		        	{{todos|length}} todos
		        {% elif todos|length == 1 %}
		            {{todos|length}} todo
		        {% else %}
		            todos list is empty
		        {% endif %}
		    </h3>
	   		<hr/>
			{% for todo in todos %}
				{% if todo.complete %}
					<div class="panel panel-warning">
						<div class="panel-heading">
							<kbd>{{todo.priority}}</kbd>
							<a href="{% url 'todo_detail' todo.id %}" className="complete">{{todo.title}}  </a>
						</div>
						<div class="panel-body">
							<a href="{% url 'delete' todo.id %}" className="icon"><button class="btn btn-danger">delete</button></a>
		          			
	          			 </div>
          			</div>
				{% else %}
					<div class="panel panel-success">
						<div class="panel-heading">
							<kbd>{{todo.priority}}</kbd>
							<a href="{% url 'todo_detail' todo.id %}">{{todo.title}}</a>
						</div>
						<div class="panel-body">
							<a href="{% url 'delete' todo.id %}" className="icon"><button class="btn btn-danger">delete</button></a>
							<a href="{% url 'complete' todo.id %}" className="icon"><button class="btn btn-success">complete</button></a>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>

{% endblock content %}


